# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\dhowl\OneDrive\Bureaublad\4th Year\Software Engineering\Assignment 1\Software Engineering 3b\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
